<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:each="message : ${chat.messageList}">
        <p th:text="${message.sender.username}"></p>
        <p th:text="${message.sendingTime}"></p>
        <p th:text="${message.text}"></p>
    </div>
    <form method="post" th:action="@{/chat/{chatId}/send(chatId=${chat.id})}" id="message">
        <label for="messageText"> Введите сообщение:
        </label>
        <textarea id="messageText" name="text">
        </textarea>
        <input type="submit" value="Отправить"/>
    </form>
</body>
</html>
